<div id="contents">
    <!-- Contents -->
    <section>
        <div class="contents-btn-group">
            <!--<span class="subtitle">version 3.0</span>-->
        </div>
        <div class="subContents dashboard-settings">
            <ul>
                <li id="i1" class="i1" ui-sref="general">{{"dash.basInfo" | translate}}</li>
                <li id="i2" class="i2 on" ui-sref="updHist">{{"dash.updHst" | translate}}</li>
                <li id="i3" class="i3" ui-sref="faq">FAQ</li>
            </ul>
            <div class="generalContents">
                <div class="list-group">
                    <a class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <div>1.0.0</div>
                            <div class="histUpdDt">2019/04/01</div>
                        </h5>
                        <p class="list-group-item-text">
                            Dashboard Pro2 Releases for 2019.
                        </p>
                    </a>
                </div>
            </div>
    </section>
</div>