<div class="modal-dialog popSetWidget">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
            <h3>{{"dash.updWdgtDtl" | translate}}</h3>
        </div>
        <!-- 모달 내부 컨텐츠 -->
        <div class="modal-body">
            <div class="form-group row">
                <label class="label-control col-sm-3">{{"wdgt.title" | translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="wdgtNm" maxlength="30" />
                </div>
            </div>
            <div class="form-group row">
                <label class="label-control col-sm-3">{{"wdgt.subtitle" | translate}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="wdgtSubnm" maxlength="30" />
                </div>
            </div>
            <div class="form-group row">
                <label class="label-control required col-sm-12">{{"comm.dev" | translate}}</label>
                <div class="devDiv col-sm-12">
                    <div ng-repeat="item in ::myDevList track by item.spotDevSeq">
                        <label title="{{::item.devNm}}"><input type="checkbox" ng-model="selectedDev[item.spotDevSeq]" ng-true-value="'Y'" ng-false-value="'N'">&nbsp;{{::item.devNm}}</label>
                    </div>
                </div>
                <div class="devDiv col-sm-12 error">{{invalidMessage}}</div>
                <div class="noData" ng-if="::myDevList.length==0">
                    <span>{{"comm.eMsgNoData" | translate}}</span>
                </div>
            </div>
        </div>
        <!--// 모달 내부 컨텐츠 -->
        <div class="modal-footer">
            <a class="btn btn-white-b h30" ng-click="close()">{{"comm.cancel" | translate}}</a>
            <a class="btn btn-black h30" ng-click="save()">{{"comm.save" | translate}}</a>
        </div>
    </div>
</div>