<div id="eventTable" class="tableWdgt" ng-controller="EVENT_TABLE_WIDGET_Ctrl" ng-init="getWdgtInfo(widget)">
    <div class="table-type01">
        <table>
            <colgroup>
                <col ng-repeat="g in gridCol | orderBy:'ordr'" ng-class="colWidth(g)">
            </colgroup>
            <thead>
                <tr>
                    <th ng-repeat="g in gridCol | orderBy:'ordr'" scope="col">{{"wdgtCol.ds."+g.id | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="list in eventList" ng-class-odd="'back-color-gray1'" ng-init="rowNum=$index">
                    <td ng-repeat="g in gridCol | orderBy:'ordr'" ng-switch on="g.id" ng-class="tdPadding(g)">
                        <span title="{{list[g.id]}}" ng-switch-default>{{list[g.id]}}</span>
                        <span ng-switch-when="power">
                            <md-switch ng-model="list[g.id]" ng-true-value="'01'" ng-change="changeSwitch(list['eventSeq'],list[g.id])" aria-label="On/Off" class="md-warn"></md-switch>
                        </span>
                        <span ng-switch-when="eventNm" title="{{'wdgt.wdgtDtlView'|translate}}">{{list[g.id]}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="noData transparent">{{noData}}</div>
    </div>
</div>