<div id="sensorTable" class="tableWdgt" ng-controller="SENSOR_TABLE_WIDGET_Ctrl" ng-init="getWdgtInfo(widget)">
    <div class="table-type01">
        <table>
            <colgroup>
                <col ng-repeat="g in ::gridCol | orderBy:'ordr'" ng-class="colWidth(g)">
            </colgroup>
            <thead>
                <tr>
                    <th ng-repeat="g in ::gridCol | orderBy:'ordr'" scope="col">{{"wdgtCol.ds."+g.id | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="list in devList track by $index" ng-class-odd="'back-color-gray1'">
                    <td ng-repeat="g in ::gridCol | orderBy:'ordr'" ng-switch on="g.id" ng-class="tdPadding(g)">
                        <span title="{{list[g.id]}}" ng-switch-default>{{list[g.id]||'-'}}</span>
                        <span ng-switch-when="icon" ng-click="updateIcon(list)"><img ng-src="{{list['icon']}}" height="25" width="25"/></span> <!--아이콘-->
                        <span ng-switch-when="snsrType">{{list['snsrType']|snsrTypeNm}}</span> <!--센서타입-->
                        <span ng-switch-when="snsrNm">{{list['groupNm']}}-{{list['snsrNm']}}</span> <!--그룹태그명/센서명-->
                        <span ng-switch-when="lastVal"><b>{{list['lastVal']||'-'|ctrlStr}}</b></span> <!--최종값-->
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="noData transparent">{{noData}}</div>
    </div>
</div>