<div class="sumryGuideHeader">
    <div class="sumryHeader">
        <div class="sumryDashbdNm" ng-mouseover="getSumryMsg(0)">
        </div>
        <ul>
            <li ng-mouseover="getSumryMsg(1)"></li>
            <li ng-mouseover="getSumryMsg(2)"></li>
            <li ng-mouseover="getSumryMsg(3)"></li>
            <li ng-mouseover="getSumryMsg(4)"></li>
            <li ng-mouseover="getSumryMsg(12)"></li>
            <li ng-mouseover="getSumryMsg(6)"></li>
            <li ng-mouseover="getSumryMsg(5)"></li>
        </ul>
    </div>
    <div class="sumryNaviDesc" ng-if="sumryNaviMsg" ng-mouseover="getSumryMsg(0)">
        <i class="fas fa-book-open"></i>{{sumryNaviMsg}}
    </div>
    <div class="sumryBtnDesc" ng-if="sumryHeaderMsg">
        <i class="fas fa-book-open"></i>{{sumryHeaderMsg}}
    </div>
</div>
<div class="sumryGuideBody">
    <div class="sumryMain">
        <img id="delete" src="assets/images/btn_del_circle.png" ng-click="close()" title="{{'comm.cancel' | translate}}" aria-label="{{'comm.cancel' | translate}}"/>
        <img src="assets/images/svg/sumryGuide02.svg"/>
        <!--<img src="assets/images/sumryGuide02.png"/>-->
    </div>
    <div class="sumryMenu">
        <div class="sumryNavi" ng-mouseover="getSumryMsg(7)"></div>
        <div class="sumryProfile" ng-mouseover="getSumryMsg(8)"></div>
        <div class="sumryDashbd" ng-mouseover="getSumryMsg(9)"></div>
        <div class="sumryNotice" ng-mouseover="getSumryMsg(10)"></div>
        <div class="sumryLogout" ng-mouseover="getSumryMsg(11)"></div>
    </div>
    <div class="sumryDashbdDesc" ng-if="sumryDashbdMsg" ng-bind-html="'comm.eMsgSumryMsg09' | translate"></div>
    <div class="sumryFooterDesc" ng-if="sumryFootMsg"><i class="fas fa-book-open"></i>{{sumryFootMsg}}</div>
</div>